.talks {
  flex: 1;

  .talks-display {
    background-color: #202022;
    // height: 20%;
    margin-top: 15px;
    padding: 20px;
    transition: 0.5s;

    a {
      text-decoration: none;
      color: #fff;
      display: flex;
    }

    .talk-title {
      margin: 0;
    }

    .talk-details {
      margin-left: 20px;
    }

    .container {
      display: flex;
      background-color: black;
      border-radius: 50%;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      transition: 0.5s;
    }
  }

  .talks-display:hover {
    background-color: #3e170e;
    .container {
      background-color: #f28c0f;
    }
  }

  @media (max-width: 1020px) {
    .title {
      margin-top: 20px;
    }
  }
}
