.project {
    .project-display {
        background-color:#202022;
        height: 20%;
        margin-top: 15px;
        padding: 20px;
        
        a {
            text-decoration: none;
            color: #fff;
        }

        .project-language {
            font-weight: 900;
            padding-bottom: 10px;
        }

        .project-name {
            font-size: x-large;
            margin: 0;
        }
    }
}