body {
  background-color: #151515;
  color: #fff;
  display: flex;
  font-family: 'Quicksand', sans-serif;
  /* justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center; */
  /* height: 100vh;
  width: 100vw; */

  .App {
    // display: flex;
    // width: 100vw;

    .upper-section {
      display: flex;
      // width: inherit;
      // height: 50vh;
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;

      .project {
        flex: 1
      }
    }

    .lower-section {
      display: flex;
      margin-top: 30px;
      margin-left: 30px;
      margin-right: 30px;
    }
  }

  @media(max-width: 1020px) {
    .upper-section {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;

      // .project {
      //   flex: 0;
      // }
    }

    .lower-section {
      flex-direction: column;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

